<div id="sidebar" class="sidebar py-3">
        <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
        <ul class="sidebar-menu list-unstyled">
              <li class="sidebar-list-item"><a href="{:url('index/index')}" class="sidebar-link text-muted active"><i class="o-home-1 mr-3 text-gray"></i><span><strong>首页</strong></span></a></li>
              <li class="sidebar-list-item"><a href="#" data-toggle="collapse"  aria-expanded="true" class="sidebar-link text-muted"><i class="o-sales-up-1 mr-3 text-gray"></i><span><strong>用户信息管理</strong></span></a>
              <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                    <li class="sidebar-list-item"><a href="{:url('user/redact')}" class="sidebar-link text-muted pl-lg-5">用户信息列表</a></li>
                    <li class="sidebar-list-item"><a href="{:url('user/addo')}" class="sidebar-link text-muted pl-lg-5">添加用户</a></li>
              </ul>
              </li>
              <li class="sidebar-list-item"><a href="#" data-toggle="collapse"  aria-expanded="true" class="sidebar-link text-muted"><i class="o-table-content-1 mr-3 text-gray"></i><span><strong>检索分类管理</strong></span></a>
                <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                    <li class="sidebar-list-item"><a href="{:url('category/redact')}" class="sidebar-link text-muted pl-lg-5">商品分类列表</a></li>
                    <li class="sidebar-list-item"><a href="{:url('category/addCategory')}" class="sidebar-link text-muted pl-lg-5">类别管理</a></li>
              </ul>
              </li>
              <li class="sidebar-list-item"><a href="{:url('order/redact')}" class="sidebar-link text-muted"><i class="o-survey-1 mr-3 text-gray"></i><span><strong>订单管理</strong></span></a></li>
              <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span><strong>商品信息管理</strong></span></a>
                <div id="pages" class="collapse">
                  <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                    <li class="sidebar-list-item"><a href="{:url('product/redact')}" class="sidebar-link text-muted pl-lg-5">图书信息列表</a></li>
                    <li class="sidebar-list-item"><a href="{:url('product/addProduct')}" class="sidebar-link text-muted pl-lg-5">图书信息录入</a></li>
                  </ul>
                </div>
              </li>
        </ul>
        <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">EXTRAS</div>
        <ul class="sidebar-menu list-unstyled">
            <!--  <li class="sidebar-list-item"><a href="{:url('Auser/login')}" class="sidebar-link text-muted"><i class="o-exit-1 mr-3 text-gray"></i><span>登录</span></a></li> -->
             <li class="sidebar-list-item"><a href="{:url('Auser/login')}" class="sidebar-link text-muted"><i class="o-exit-1 mr-3 text-gray"></i><span>退出</span></a></li>
        </ul>
      </div>