<!-- Footer Area -->
		<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
			<div class="footer-static-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="footer__widget footer__menu">
								<div class="ft__logo">
									<a href="{:url('Index/Index')}">
										<img src="__STATIC__/Index/images/logo/3.png" alt="logo">
									</a>
									<p>我们有过太多太多的想法 而实现的去又太少太少 犹如<strong class="monologue">书里梦想</strong>只是被述说 被理想 迷途过落化为 <strong>Book(Dream) </strong> 悄然即逝</p>
								</div>
								<div class="footer__content">
									<ul class="social__net social__net--2 d-flex justify-content-center">
											<li><a href="#"><i class="bi bi-facebook"></i></a></li>
										<li><a href="#"><i class="bi bi-google"></i></a></li>
										<li><a href="#"><i class="bi bi-twitter"></i></a></li>
										<li><a href="#"><i class="bi bi-linkedin"></i></a></li>
										<li><a href="#"><i class="bi bi-youtube"></i></a></li>
									</ul>
									<ul class="mainmenu d-flex justify-content-center">
										<li><a href="{:url('Index/Index')}">关于我们</a></li>
										<li><a href="{:url('Index/Index')}">加入我们</a></li>
										<li><a href="{:url('Index/Index')}">广告服务</a></li>
										<li><a href="{:url('Index/Index')}">免责</a></li>
										<li><a href="{:url('Index/Index')}">友情链接</a></li>
										<!-- <li><a href="{:url('Index/Index')}"></a></li> -->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright__wrapper">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="copyright">
								<div class="copy__right__inner text-left">
									<p>BookDream.cn &copy; 软件与信息服务 2019 ALL RIGHTS RESERVED.<a href="#" target="_blank">蒙ICP备1744010RX号 </a></p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="payment text-right">
								<img src="__STATIC__/Index/images/icons/payment.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- //Footer Area -->