<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>书里梦想书屋</title>
	    <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="__STATIC__/Index/css/bootstrap.min.css">
	<link rel="stylesheet" href="__STATIC__/Index/css/plugins.css">
	<link rel="stylesheet" href="__STATIC__/Index/style.css">
	<link rel="stylesheet" href="__STATIC__/Index/css/style.css">
	<!-- Cusom css -->
    <link rel="stylesheet" href="__STATIC__/Index/css/custom.css">

	<!-- Modernizer js -->
	<script src="__STATIC__/Index/js/vendor/modernizr-3.5.0.min.js"></script>
</head>